/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    margin-bottom: 50px;
}

/* Header and Navigation */
header {
    background-color: #ffffff;
    padding: 10px 0;
    border-bottom: 2px solid #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.logo .dot {
    color: #f0c20c; /* Highlight color */
}

.social-icons a {
    color: #333;
    margin-right: 15px;
    font-size: 1.2em;
    text-decoration: none;
}

ul.menu {
    list-style: none;
    display: flex;
}

ul.menu li {
    margin-right: 20px;
}

ul.menu li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

ul.menu li a:hover {
    color: #f0c20c;
}

/* Hero Section */
.hero {
    background-color: #f0c20c;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #555;
}

.hero .skills {
    margin-top: 30px;
    font-size: 2em;
}

.hero .skills i {
    margin-right: 15px;
    color: #333;
}

/* Projects Section */
.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.project {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    width: 300px; /* Ancho fijo para que todos sean iguales */
    height: 450px; /* Altura fija para que todos sean iguales */
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column; /* Mantiene la disposición vertical */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    width: 100%;
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover; /* Ajusta la imagen sin distorsionar */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project h3 {
    font-size: 22px;
    margin: 20px 0 10px;
    color: #333;
}

.project p {
    color: #777;
    font-size: 16px;
    padding: 0 15px;
    margin-bottom: 10px;
    flex-grow: 1; /* Para que el texto se ajuste al espacio disponible */
}

.project .date {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 20px;
}

.projects a {
    text-decoration: none;
    color: inherit; /* Mantener el color del texto sin cambios */
}

.projects a:hover {
    text-decoration: none; /* Evita el subrayado en el hover */
}


/* About Section */
.about {
    background-color: #f9f9f9;
    padding: 60px 0;
    text-align: center;
}

.about h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 14px;
}

